@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
}
.common_text{
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.common_button{
    border: 1px solid #0D1321;
    border-radius: 8px;
    padding: 13px 17px;
    font-size: 20px;
    background: rgb(255, 255, 255);
    cursor: pointer;
}
/* header start */
header{
    height: 660px;

}
.header_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;

}
.header{
    background-image: url("../assets/Hero-bg.png");

}
.header_banner{
    text-align: center;
    padding: 30px;
}
.header_banner h2,p{
    margin-bottom: 20px;

}
.header_button{
    border-radius: 8px;
    background: rgb(13, 19, 33);
}
.header_button a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
/* header end */
/* group content start */
.groups{
    margin-top: 50px;
}
.group{
    margin: 0px 150px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.group_content{
    margin: 0 150px;
}
.group_title{
    text-align: center;
}
.group_title h3{
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: bolder;
    padding: 20px 0;
}
.group_item{
    display: flex;
    justify-content: space-evenly;
    padding: 0 48px;

}
.item{
    width: 50%;
    margin: 50px 0;
}
.item_text{
    margin: 16px 0;
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: bold;
}
.item_button{
    border: 1px solid #0D1321;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 20px;
    background: rgb(255, 255, 255);
    opacity: .7;
    cursor: pointer;
}
/* group content end */
/* inspiration start */
.story{
    margin: 0 200px;
    height: 700px;
}
.guide{
    padding: 5px;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
.guide iframe{
    border-radius: 16px;
}
/* inspiration end */
/* current target start */
.goals{
    margin: 140px 150px;
}
.goal_card{
    display: flex;
    gap: 24px;
}
.card{
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
    padding: 40px
}
.card_button{
    color: #0D1321;
    font-weight: bold;
    cursor: pointer;
}
.card_2{
    background: rgba(0, 76, 232, 0.05);
}
.card_3{
    background: rgba(255, 223, 0, 0.05);
}
/* current target end */
/* next target start */
.target{
    display: flex;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);

}
.target_item{
    padding: 40px;  
}
/* next target end */
/* support end */
.support{
    margin-top: 0;
    margin-bottom: 0;
    height: 313px;
    background: url("../assets/handshake.jpg");
    background-size: cover;
}
.support_title{
    width: 80%;
    margin: 64px auto;
    color: #FFFFFF;
}
.support_title p{
    opacity: 0.7
    
}
.support form{
    margin: 0px 100px;
}
.support input[type="text"]{
    width: 300px;
    height: 52px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding: 0px 30px 0px 20px;
    margin: 15px;
}
/* support end */
/* footer start */
#footer{
    background: rgba(13, 19, 33, 0.03);
    margin: 10px 0px;
}
.footer_title{
    display: flex;
    justify-content: space-between;
    padding:20px 150px ;
}
.footer_social a{
    margin: 5px;
}
/* footer end */